- content_for :title, "XD6 //About"
.col-12
    .panel.panel-primary
        .panel-heading
            About XD6 Code
        %p
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur adipiscing sodales libero quis auctor. Phasellus non placerat orci. Donec ac dolor dignissim dui suscipit pellentesque quis non erat. Nunc vitae placerat sapien. Ut iaculis volutpat dignissim. Donec a nisi augue. Phasellus tincidunt sed sem commodo condimentum. Phasellus vitae urna leo. Donec dictum fringilla congue. Nullam nec arcu tempor, aliquam tellus eu, ullamcorper est. Curabitur tincidunt fringilla pellentesque. Pellentesque varius diam sed lectus ornare interdum. Suspendisse pulvinar est eu mi varius blandit. Donec vulputate mi magna, a interdum mi commodo at. Maecenas turpis urna, egestas eu lacus non, mollis varius nunc. Cras lacus massa, hendrerit pharetra lacus eget, adipiscing pellentesque nulla.

.col-6
    .panel.panel-primary
        .panel-heading
            Charles Hollenbeck
        %img.pull-left(src="images/charles.jpg")
        %p
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur adipiscing sodales libero quis auctor. Phasellus non placerat orci. Donec ac dolor dignissim dui suscipit pellentesque quis non erat. Nunc vitae placerat sapien. Ut iaculis volutpat dignissim. Donec a nisi augue. Phasellus tincidunt sed sem commodo condimentum. Phasellus vitae urna leo. Donec dictum fringilla congue. Nullam nec arcu tempor, aliquam tellus eu, ullamcorper est. Curabitur tincidunt fringilla pellentesque. Pellentesque varius diam sed lectus ornare interdum. Suspendisse pulvinar est eu mi varius blandit. Donec vulputate mi magna, a interdum mi commodo at. Maecenas turpis urna, egestas eu lacus non, mollis varius nunc. Cras lacus massa, hendrerit pharetra lacus eget, adipiscing pellentesque nulla.
.col-6
    .panel.panel-primary
        .panel-heading
            Daniel Hlavenka
        %img.pull-left(src="images/charles.jpg")
        %p
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur adipiscing sodales libero quis auctor. Phasellus non placerat orci. Donec ac dolor dignissim dui suscipit pellentesque quis non erat. Nunc vitae placerat sapien. Ut iaculis volutpat dignissim. Donec a nisi augue. Phasellus tincidunt sed sem commodo condimentum. Phasellus vitae urna leo. Donec dictum fringilla congue. Nullam nec arcu tempor, aliquam tellus eu, ullamcorper est. Curabitur tincidunt fringilla pellentesque. Pellentesque varius diam sed lectus ornare interdum. Suspendisse pulvinar est eu mi varius blandit. Donec vulputate mi magna, a interdum mi commodo at. Maecenas turpis urna, egestas eu lacus non, mollis varius nunc. Cras lacus massa, hendrerit pharetra lacus eget, adipiscing pellentesque nulla.
