- content_for :title, "XD6 //Home"
.col-4
    .panel.panel-primary
        .panel-heading.nomarg
            Upcoming Projects
        %ul.list-group
            %li.list-group-item
                Url Shortener
                %br
                .progress
                    .progress-bar.progress-bar-info(style="width: 20%")
            %li.list-group-item
                Url Shortener
                %br
                .progress
                    .progress-bar.progress-bar-info(style="width: 50%")
    .panel.panel-primary
        .panel-heading.nomarg
            Upcoming Updates
        %ul.list-group
            %li.list-group-item
                Url Shortener
                %br
                .progress
                    .progress-bar.progress-bar-info(style="width: 5%")
            %li.list-group-item
                Url Shortener
                %br
                .progress
                    .progress-bar.progress-bar-info(style="width: 30%")
    .panel.panel-primary
        .panel-heading.nomarg
            News
        %ul.list-group
            %li.list-group-item
                %p
                    %strong
                        Some Title / 08.12.2013:&nbsp;
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur adipiscing sodales libero quis auctor. Phasellus non placerat orci. Donec ac dolor dignissim dui suscipit pellentesque quis non erat. Nunc vitae placerat sapien. Ut iaculis volutpat dignissim. Donec a nisi augue.
            %li.list-group-item
                %p
                    %strong
                        Some Title / 08.12.2013:&nbsp;
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur adipiscing sodales libero quis auctor. Phasellus non placerat orci. Donec ac dolor dignissim dui suscipit pellentesque quis non erat. Nunc vitae placerat sapien. Ut iaculis volutpat dignissim. Donec a nisi augue.
.col-8
    .panel.panel-primary
        .panel-heading.nomarg
            Projects
        %ul.list-group
            %li.list-group-item
                .force-height
                    %h3.left
                        Project Name
                    .pull-right
                        %a.btn.btn-primary(type="button" href="#Test")
                            Demo
                        %a.btn.btn-primary(type="button" href="#Test")
                            Documentation
                        %a.btn.btn-primary(type="button" href="#Test")
                            Source
                %p
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque rutrum suscipit interdum. Nunc non pulvinar ipsum. Ut ac mollis eros, vel tristique urna. Ut nisi dui, blandit sit amet facilisis vel, volutpat at lectus. Cras blandit leo at leo adipiscing cursus. Nunc hendrerit fringilla augue, ut adipiscing diam tempus vitae. Nulla facilisi. Donec magna velit, euismod at sapien gravida, euismod tincidunt nibh. Cras condimentum nisi vitae lacus lobortis elementum. Maecenas pretium mollis urna, at eleifend urna scelerisque id. Aliquam erat volutpat. Cras molestie enim quis interdum condimentum. Nam varius velit sed tellus pellentesque, quis viverra risus ultrices.
            %li.list-group-item
                .force-height
                    %h3.left
                        Project Name
                    .pull-right
                        %a.btn.btn-primary(type="button" href="#Test")
                            Demo
                        %a.btn.btn-primary(type="button" href="#Test")
                            Documentation
                        %a.btn.btn-primary(type="button" href="#Test")
                            Source
                %p
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque rutrum suscipit interdum. Nunc non pulvinar ipsum. Ut ac mollis eros, vel tristique urna. Ut nisi dui, blandit sit amet facilisis vel, volutpat at lectus. Cras blandit leo at leo adipiscing cursus. Nunc hendrerit fringilla augue, ut adipiscing diam tempus vitae. Nulla facilisi. Donec magna velit, euismod at sapien gravida, euismod tincidunt nibh. Cras condimentum nisi vitae lacus lobortis elementum. Maecenas pretium mollis urna, at eleifend urna scelerisque id. Aliquam erat volutpat. Cras molestie enim quis interdum condimentum. Nam varius velit sed tellus pellentesque, quis viverra risus ultrices.