- content_for :title, "XD6 //News"
.col-12
    .panel.panel-primary
        .panel-heading.nomarg
            News
        %ul.list-group
            %li.list-group-item
                %p
                    %strong
                        Some Title / 08.12.2013:&nbsp;
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur adipiscing sodales libero quis auctor. Phasellus non placerat orci. Donec ac dolor dignissim dui suscipit pellentesque quis non erat. Nunc vitae placerat sapien. Ut iaculis volutpat dignissim. Donec a nisi augue.
            %li.list-group-item
                %p
                    %strong
                        08.12.2013:&nbsp;
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur adipiscing sodales libero quis auctor. Phasellus non placerat orci. Donec ac dolor dignissim dui suscipit pellentesque quis non erat. Nunc vitae placerat sapien. Ut iaculis volutpat dignissim. Donec a nisi augue.