- content_for :title, "XD6 //News"
.col-12
    .panel.panel-primary
        .panel-heading.nomarg
            News
        %ul.list-group
            - @posts.each do |post|
                %li.list-group-item
                    %p
                        %strong
                            = post[:title].empty? ? time_ago_in_words(post[:time]) + " ago:" : post[:title] + " / " + time_ago_in_words(post[:time]) + " ago:"
                        = post[:content]